<%- include('base_header', { title: 'Home' }) -%>
<div id="homediv" class="container-fluid">
  <h1 class="text-center">Welcome to Book Club KE
  </h1>
  <p class="text-center">The Home of Readers</p>
  <div id="homeimg" class="container-fluid">
    <img src="/home.jpeg" alt="bookclub" class="img-fluid">
  </div>
</div>
<%- include('base_footer') -%>
